<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header th:fragment="cabecalho">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sahdow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Controle Funcionários</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Categorias</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-warning rounded-pill" type="submit">Nova Categoria</button>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>